* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 0, 0.6);
}

body.correct {
  background-color: limegreen;
}

body.wrong {
  background-color: rgba(255, 0, 0, 1);
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  color: rgba(200, 80, 80, 0.8);
}

nav {
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

nav .timer-box {
  box-shadow: rgb(26, 25, 25) 7px 7px;
  background-color: grey;
}

#timer {
  color: rgb(32, 29, 29);
  /* padding: 5px; */
}

#high-scores {
  color: rgb(32, 29, 29);
  box-shadow: rgb(26, 25, 25) 7px 7px;
  padding: 5px;
  background-color: grey;
}

.container {
  font-size: 38px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#question {
  font-family: "Courier New", Courier, monospace;
  font-weight: 750;
  color: rgba(95, 6, 43, 0.7);
}

.container button {
  font-size: 20px;
  background-color: grey;
  color: rgba(187, 69, 14, 0.7);
  width: 100%;
  padding: 3px;
  text-align: left;
  box-shadow: rgb(26, 25, 25) 3px 3px;
}

.questions {
  padding: 10px;
  border: black solid 1px;
  background-color: whitesmoke;
  box-shadow: rgb(26, 25, 25) 10px 10px;
}

.test-questions {
  font-family: "Courier New", Courier, monospace;
  font-weight: 750;
  color: rgba(95, 6, 43, 0.7);
}

.start-btn {
  margin-top: 15px;
}

.restart-btn {
  margin-top: 15px;
}
